/Guia7/nbproject/private/
/Guia7/build/
/Guia_8/nbproject/private/
/Guia_8_Ejercicio_1/nbproject/private/
/Guia_8_Ejercicio_1/dist/
/Guia_8_Ejercicio_1/build/
/Guia_8_Ejercicio_2/nbproject/private/
/Guia_8_Ejercicio_2/build/
/Guia_8_Ejercicio_3/nbproject/private/
/Guia_8_Ejercicio_3/build/
/Guia_8_Ejercicio_3/dist/